.productList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.productItem {
  width: 25%;
  padding: 1rem;
  cursor: pointer;
}

.productImg {
  width: 100%;
}

.priceWrapper {
  display: flex;
}

.title {
  margin: 1rem 0;
  font-size: 120%;
  font-weight: 600;
}

.price {
  margin-right: 1rem;
}

.strikethroughPrice {
  composes: price;
  text-decoration: line-through;
}

.promoPrice {
  composes: price;
  color: red;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .productItem {
    width: 100%;
    margin: 1rem 0;
  }
}
