.storeContainer {
  position: relative;
  composes: container from '../App.module.css';
}

.storeBasicContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.storeName {
  text-align: center;
}

.image {
  width: 100%;
  margin-bottom: 2rem;
}

.addProduct {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

.formContainer {
  width: 100%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .storeBasicContainer {
    width: 100%;
  }
}
