.storeContainer {
  composes: container from './App.module.css';
}

.storeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.storeField {
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 400;
}

.storeItem {
  width: 24rem;
  height: 42rem;
  margin: 1rem;
  overflow: hidden;
  display: flex;
}

.storeDetail {
  display: flex;
  justify-content: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .storeItem {
    width: auto;
    height: auto;
    min-height: 42rem;
    margin: 1rem 0;
  }
}
